body {
  padding: 10px;
}
h1 {
  font-size: 10vw;
  font-weight: bold;
}
.container {
  height: auto;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}
#videoElement {
  display: none;
  width: 60%;
  height: 40%;
  background-color: #666;
}

#imageElement {
  background-color: #666;
  width: 60%;
  height: 40%;
  border-radius: 0.3em;
}

#canvasElement {
  width: 640px;
  height: 480px;
  display: none;
  border-radius: 0.3em;
}

/* .practice {
  background: rgb(41, 171, 214);
  color: white;
}

.game {
  background: rgb(41, 171, 214);
  color: white;
}
 */
